<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}">

</head>
<body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" style="color: #fff855;">TODO</a>           
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'tasks' %}">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </nav>
        {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" id="alertM" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

        <div class="container my-5">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Task</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    {% for task in tasks %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{task.task}}</td>
                        <td>{{task.desc}}</td>
                        <td>{{task.date|date:"d-m-Y"}}</td>
                        <td>{{task.date|date:"H:i:s"}}</td>
                        <td><a href="{% url 'delete' task.id %}"><i class="fa-solid fa-trash text-danger"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <script>
    window.setTimeout(function() {
        $("#alertM").slideUp(500, function() {
            $(this).remove();
        });
    }, 2000);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>